.root {
    -fx-font-size: 16; 
    -fx-font-family: "Tahoma";
}
.combo-box .list-view {
    -fx-pref-height: 200; 
}
.combo-box {
    -fx-background-color: white;
}
.button {
    -fx-background-color: white;
}
.button:hover {
    -fx-background-color: rgb(232, 208, 200);
}
.combo-box .arrow-button {
    -fx-background-color: white;
}

.combo-box .arrow-button:hover {
    -fx-background-color: rgb(232, 208, 200);
}
.text-field {
    -fx-control-inner-background: white;
    -fx-background-color: white;
}
